*,
::before,
::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;

  // border: 1px solid blue;
}

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "";
}

h1 {
  position: relative;
  z-index: 100 !important;
  font-weight: 700 !important;
  line-height: 7.2rem !important;
  text-align: center !important;

  @media (max-width: 576px) {
    width: 100%;
    font-size: 5rem !important;
  }

  @media (min-width: 576px) {
    width: 100%;
    font-size: 5rem !important;
  }

  @media (min-width: 768px) {
    width: 100%;
    font-size: 6.8rem !important;
  }

  @media (min-width: 992px) {
    width: 90%;
  }

  @media (min-width: 1200px) {
    width: 70%;
  }
}

h3 {
  font-size: 2.6rem !important;
  font-weight: 700 !important;
  line-height: 3.2rem !important;
}

p {
  position: relative;
  z-index: 100;
  font-size: 2.6rem !important;
  font-weight: 400 !important;
  line-height: 3.6rem !important;
  margin-top: 2rem !important;
  text-align: center !important;

  @media (max-width: 576px) {
  }

  @media (min-width: 576px) {
  }

  @media (min-width: 768px) {
    width: 100% !important;
  }

  @media (min-width: 992px) {
    width: 100% !important;
  }

  @media (min-width: 1200px) {
    width: 100% !important;
  }
}

.text {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
  line-height: 2.4rem !important;
  color: rgba(#000000, 0.6);
}

.space-1 {
  height: 1rem;
  width: 100%;
}

.space-2 {
  height: 2rem;
  width: 100%;
}

.space-3 {
  height: 3rem;
  width: 100%;
}

.space-4 {
  height: 4rem;
  width: 100%;
}
