*,
::before,
::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "";
}

h1 {
  width: 70%;
  font-size: 6.8rem !important;
  font-weight: 700 !important;
  line-height: 7.2rem !important;
  text-align: center !important;
}

h3 {
  font-size: 2.6rem !important;
  font-weight: 700 !important;
  line-height: 3.2rem !important;
  margin: 2rem 0rem !important;
}

p {
  width: 70%;
  position: relative;
  z-index: 100;
  font-size: 2.6rem !important;
  font-weight: 400 !important;
  line-height: 3.6rem !important;
  margin-top: 2rem !important;
  text-align: center !important;
}

.text {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
  line-height: 2.4rem !important;
}

.space-1 {
  height: 1rem;
  width: 100%;
}

.space-2 {
  height: 2rem;
  width: 100%;
}

.space-3 {
  height: 3rem;
  width: 100%;
}

.space-4 {
  height: 4rem;
  width: 100%;
}
