.navigation {
  position: relative;
  z-index: 100;
  min-height: 10vh;
  height: max-content;

  &__column {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: auto;
    height: 5rem;
  }

  &__menu--left {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 567px) {
      display: none;
    }

    @media (min-width: 567px) {
      display: flex;
    }
  }

  &__item--left {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    margin: 0rem 2rem;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.45);
    }
  }

  &__item--right {
    font-size: 1.3rem;
    font-weight: 600;
    color: $accent;
    margin: 0rem 2rem;
    text-transform: uppercase;

    &:hover {
      color: rgba($accent, 0.85);
      cursor: pointer;
    }
  }

  &__menu--right {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 567px) {
      display: none;
    }

    @media (min-width: 567px) {
      display: none;
    }

    @media (min-width: 768px) {
      display: none;
    }

    @media (min-width: 992px) {
      display: flex;
    }
  }
}

.header {
  overflow: hidden;
  min-height: 100vh;
  height: max-content;
  background: linear-gradient(to bottom, white, rgba(255, 196, 141, 0.2));

  &__column {
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__header-video {
    z-index: 100;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }

  &__ribbon {
    margin-top: 2.5rem;
    z-index: 100;
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: white;
    background: linear-gradient(
      to right,
      rgb(238, 32, 186),
      rgb(238, 32, 186),
      $accent
    );
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease;
      cursor: pointer;
      transform: translateY(-0.3rem);
    }
  }

  &__svg-top {
    overflow: visible;
    position: absolute;
    fill: none;

    @media (max-width: 576px) {
      top: -40%;
      left: 30%;
    }

    @media (min-width: 576px) {
      top: -40%;
      left: 30%;
    }

    @media (min-width: 768px) {
      top: -40%;
      left: 30%;
    }

    @media (min-width: 992px) {
      top: -40%;
      left: 30%;
    }

    @media (min-width: 1200px) {
      top: -40%;
      left: 30%;
    }
  }

  &__svg--stroke-top {
    fill: none;
    stroke: orange;
    transform: scale(1.002) translate(-2.5rem, -1rem);
  }

  &__svg-right {
    height: 100%;
    width: 100%;
    overflow: visible;
    fill: rgb(247, 219, 168);
    z-index: 50;
    position: absolute;
    // border: 1px solid red;

    @media (max-width: 576px) {
      top: 20%;
      left: 80%;
    }

    @media (min-width: 576px) {
      top: 20%;
      left: 80%;
    }

    @media (min-width: 768px) {
      top: 20%;
      left: 80%;
    }

    @media (min-width: 992px) {
      top: 20%;
      left: 80%;
    }

    @media (min-width: 1200px) {
      top: 20%;
      left: 78%;
    }
  }

  &__svg--stroke-right {
    border: 1px solid red;
    fill: none;
    stroke: orange;
    transform: scale(1.002) translate(-2.5rem, -1rem);
  }

  &__svg-left {
    overflow: visible;
    position: absolute;
    fill: $accent;

    @media (max-width: 576px) {
      top: 15%;
      right: 210%;
    }

    @media (min-width: 576px) {
      top: 15%;
      right: 200%;
    }

    @media (min-width: 768px) {
      top: 15%;
      right: 165%;
    }

    @media (min-width: 992px) {
      top: 15%;
      right: 150%;
    }

    @media (min-width: 1200px) {
      top: 15%;
      right: 135%;
    }
  }

  &__svg--stroke-left {
    fill: none;
    stroke: orange;
    transform: scale(1.002) translate(3rem, -0.2rem);
  }

  &__heading-wrapper {
    margin-top: 2.5rem;
    position: relative;
    z-index: 100;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    // overflow: hidden;
    // height: 30px;

    @media (max-width: 576px) {
      width: 100%;
    }

    @media (min-width: 576px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 110%;
    }

    @media (min-width: 992px) {
      width: 90%;
    }

    @media (min-width: 1200px) {
      width: 80%;
    }
  }

  &__item--wrapper {
    display: flex;
    overflow: hidden;
    height: max-content;
  }

  &__heading {
    margin: -1.5rem 0rem;
    font-weight: 700;
    line-height: 12.4rem;

    @media (max-width: 576px) {
      font-size: 7rem;
    }

    @media (min-width: 576px) {
      font-size: 7rem;
    }

    @media (min-width: 768px) {
      font-size: 9.5rem;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 5rem;
    z-index: 100;
    position: relative;
  }

  .btn-default {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding: 1.3rem 2.4rem 1rem 2.4rem;
    border-radius: 0.3rem;
    margin: 1rem;
    transition: all 0.2s ease;

    width: max-content;

    &:hover {
      transition: all 0.2s ease;
      transform: translateY(-2px);
      color: white;
    }
  }

  .try {
    background-color: $accent;
    &:hover {
      opacity: 0.7;
    }
  }

  .price {
    background-color: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    &:hover {
      color: black;
      box-shadow: 0px 0px 15px lightgrey;
    }
  }
}

.cards {
  min-height: 80vh;
  height: max-content;
  position: relative;
  z-index: 90;
  background-color: white;

  &__container {
    position: relative;
  }

  &__column {
    margin: 10rem 0rem;
  }

  &__card-wrapper {
    border-radius: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    height: auto;
    transition: all 0.5s ease;

    &:hover {
      transition: all 0.5s ease;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
      transform: translateY(-1.5px);
    }
  }

  &__video {
    z-index: 100;
    overflow: visible;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__sub-container {
    height: 50%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem;
  }

  &__badge {
    border-radius: 0.4rem;
    width: max-content;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.4rem;
    padding: 0rem 1.2rem;
  }

  .color {
    background-color: #f7e8fb;
    color: $sub-accent;
  }

  .colors {
    background-color: #feefe5;
    color: $accent;
  }

  &__button {
    color: $accent;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    transition: 0.5s all ease;

    &:hover {
      transition: 0.5s all ease;
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.design {
  min-height: 100vh;
  height: max-content;

  &__container {
    // border: 1px solid lime;
  }

  &__column {
    margin: 10rem 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;

    justify-content: space-between;

    @media (max-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 768px) {
      flex-flow: row wrap;
    }
  }

  &__sub-container {
    margin-top: 8rem;

    @media (max-width: 576px) {
      width: 100%;
    }

    @media (min-width: 576px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 30%;
    }
  }
}

.cloud {
  min-height: 100vh;
  height: max-content;
  position: relative;
  z-index: 100;
  background-color: white;

  &__container {
    margin: 10rem 0rem;
  }

  &__column {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__column--right {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__subcontainer {
    width: 80%;
    margin: 4rem 0rem;
  }

  hr {
    width: 50%;
    background: linear-gradient(center, rgba(0, 0, 0, 0.8));
  }

  &__subheading {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: black;
  }

  &__text {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: rgba($color: #000000, $alpha: 0.65);
  }
}

.customize {
  min-height: 100vh;
  height: max-content;
  padding: 5rem 0rem;
  overflow: hidden;
  background: linear-gradient(to top, white, rgba(194, 194, 193, 0.2));

  &__column {
    margin-top: 5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
  }

  &__svg--first--wrapper {
    overflow: hidden;
    z-index: 90;
    position: absolute;

    @media (max-width: 576px) {
      transform: rotate(20deg);
      overflow: visible;
      height: 100%;
      width: 100%;
      top: -5%;
      right: 100%;
    }

    @media (min-width: 576px) {
      transform: rotate(20deg);
      height: 100%;
      width: 100%;
      top: -30%;
      right: 100%;
      overflow: visible;
    }

    @media (min-width: 768px) {
      transform: rotate(20deg);
      height: 100%;
      width: 100%;
      top: -30%;
      right: 70%;
    }

    @media (min-width: 992px) {
      transform: rotate(80deg);
      height: 80%;
      width: 70%;
      top: -30%;
      right: 70%;
    }

    @media (min-width: 1200px) {
      top: -30%;
      right: 70%;
    }
  }

  &__svg--first {
    fill: white;
    width: 48.5rem;
    height: 48.5rem;
    transform: rotate(45deg) translate(40%, -30%);
  }

  &__svg--first--stroke {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    width: 51rem;
    height: 51rem;
    transform: rotate(45deg) translate(40%, -31%);
  }

  &__svg--second--wrapper {
    overflow: hidden;
    z-index: 90;
    position: absolute;
    height: 70%;
    width: 70%;
    transform: rotate(40deg);

    @media (max-width: 576px) {
      overflow: visible;
      transform: rotate(15deg);
      height: 100%;
      width: 100%;
      top: -10%;
      right: 60%;
    }

    @media (min-width: 576px) {
      transform: rotate(20deg);
      height: 100%;
      width: 100%;
      top: -10%;
      right: 50%;
    }

    @media (min-width: 768px) {
      transform: rotate(25deg);
      height: 100%;
      width: 100%;
      top: -10%;
      right: 40%;
    }

    @media (min-width: 992px) {
      transform: rotate(50deg);
      height: 70%;
      width: 70%;
      top: -20%;
      right: 50%;
    }

    @media (min-width: 1200px) {
      top: -20%;
      right: 50%;
    }
  }

  &__svg--second {
    fill: rgba(0, 0, 0, 0.06);
    width: 20rem;
    height: 20rem;
    transform: rotate(40deg) translate(40%, -30%);
  }

  &__svg--second--stroke {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 20rem;
    transform: rotate(40deg) translate(41%, -29%);
  }

  &__svg--third--wrapper {
    overflow: hidden;
    z-index: 90;
    position: absolute;
    height: 70%;
    width: 70%;
    transform: rotate(25deg);

    @media (max-width: 576px) {
      opacity: 0;
    }

    @media (min-width: 576px) {
      opacity: 0;
    }

    @media (min-width: 768px) {
      opacity: 1;
      transform: rotate(35deg);
      height: 100%;
      width: 100%;
      top: -20%;
      right: 20%;
    }

    @media (min-width: 992px) {
      transform: rotate(70deg);
      height: 70%;
      width: 70%;
      top: -20%;
      right: 30%;
    }

    @media (min-width: 1200px) {
      top: -25%;
      right: 25%;
    }
  }

  &__svg--third {
    fill: rgba(0, 0, 0, 0.06);
    width: 20rem;
    height: 20rem;
    transform: rotate(40deg) translate(40%, -30%);
  }

  &__svg--third--stroke {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 20rem;
    transform: rotate(40deg) translate(41%, -29%);
  }

  &__svg--fourth--wrapper {
    z-index: 90;
    position: absolute;

    @media (max-width: 576px) {
      transform: rotate(20deg);
      height: 100%;
      width: 100%;
      top: -5%;
      right: -10%;
    }

    @media (min-width: 576px) {
      transform: rotate(20deg);
      height: 100%;
      width: 100%;
      top: -10%;
      right: -10%;
    }

    @media (min-width: 768px) {
      transform: rotate(20deg);
      height: 100%;
      width: 100%;
      top: -30%;
      right: -30%;
    }

    @media (min-width: 992px) {
      transform: rotate(80deg);
      height: 70%;
      width: 70%;
      top: -40%;
      right: -10%;
    }

    @media (min-width: 1200px) {
      top: -40%;
      right: -15%;
    }
  }

  &__svg--fourth {
    fill: rgba(0, 0, 0, 0.06);
    width: 40rem;
    height: 40rem;
    transform: rotate(40deg) translate(40%, -30%);
  }

  &__svg--fourth--stroke {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    width: 40rem;
    height: 40rem;
    transform: rotate(40deg) translate(41%, -29%);
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 768px) {
      flex-flow: row wrap;
    }
  }

  &__card {
    position: relative;
    z-index: 100;
    background: white;
    display: flex;
    flex-flow: row;
    align-items: center;

    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    padding: 2rem 3rem;
    margin-top: 4rem;
    transition: all 0.5s ease;

    @media (max-width: 576px) {
      width: 100%;
    }

    @media (min-width: 576px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 48%;
    }

    &:hover {
      transition: all 0.5s ease;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.08);
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      transform: translateY(-1.5px);
    }
  }

  &__image-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 0rem 3rem;
  }

  &__image {
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  }

  &__explore {
    position: relative;
    z-index: 100;
    cursor: pointer;
    color: $accent;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
    margin-top: 2.4rem;
    text-align: center;
  }

  &__badge {
    margin-top: 4rem;
    color: $sub-accent;
    background-color: #f7e8fb;
    border-radius: 0.4rem;
    width: max-content;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.4rem;
    padding: 0rem 1.2rem;
  }
}

.companies {
  min-height: 30vh;
  height: max-content;

  &__column {
    margin: 5rem 0rem;
  }

  &__heading {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    color: grey;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__logo {
    margin: 1rem 1rem;
  }
}

.pricing {
  min-height: 40vh;
  height: max-content;
  color: white;
  margin-bottom: 5rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0rem;
    background-image: linear-gradient(120deg, #575859 0, #2e2f30 85%);
    border-radius: 2rem;

    @media (max-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 768px) {
      flex-flow: column;
    }

    @media (min-width: 992px) {
      flex-flow: row;
    }
  }

  &__logo--wrapper {
    height: 15rem;
    width: 15rem;
    position: relative;

    @media (max-width: 576px) {
      overflow: visible;
    }

    @media (min-width: 576px) {
      overflow: visible;
    }

    @media (min-width: 768px) {
      overflow: visible;
    }

    @media (min-width: 992px) {
      overflow: hidden;
    }
  }

  &__logo {
    @media (max-width: 576px) {
      // flex-flow: column;
    }

    @media (min-width: 576px) {
      // flex-flow: column;
    }

    @media (min-width: 768px) {
      // flex-flow: column;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translate(-50%, 0%);
    }
  }

  &__text-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    @media (max-width: 576px) {
      text-align: center;
    }

    @media (min-width: 576px) {
      text-align: center;
    }

    @media (min-width: 992px) {
      margin-right: 3rem;
      text-align: left;
    }
  }

  &__heading {
    font-size: 3.8rem;
    font-weight: 700;
  }

  &__text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.6rem;
    opacity: 0.85;
  }

  &__buttons-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 576px) {
      margin-top: 2rem;
    }

    @media (min-width: 576px) {
      margin-top: 2rem;
    }

    @media (min-width: 768px) {
      margin-top: 2rem;
    }

    @media (min-width: 992px) {
      margin-right: 5rem;
    }
  }

  .btn-default {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding: 1.3rem 2.4rem 1rem 2.4rem;
    border-radius: 0.5rem;
    margin: 1rem;
    transition: all 0.5s ease;
    width: max-content;

    &:hover {
      transition: all 0.5s ease;
      transform: translateY(-2px);
      color: white;
      opacity: 0.9;
    }
  }

  .try {
    background-color: $accent;
  }

  .price {
    border: 1px solid grey;
  }
}

.footer {
  min-height: 50vh;
  height: max-content;

  &__left {
    // border: 1px solid red;
  }

  &__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__text-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__heading {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0rem;
    color: rgba(0, 0, 0, 0.4);
    line-height: 2rem;

    &:hover {
      color: $accent;
      cursor: pointer;
    }
  }

  &__right {
    @media (max-width: 576px) {
      margin-top: 5rem;
    }

    @media (min-width: 576px) {
      margin-top: 5rem;
    }

    @media (min-width: 768px) {
      margin-top: 5rem;
    }

    @media (min-width: 992px) {
      margin-left: 5rem;
    }
  }

  &__form {
    margin: 2rem 0rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .text {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
    margin: 0.5rem 0rem !important;
    color: rgba(0, 0, 0, 0.4) !important;
    line-height: 2rem !important;
  }

  &__input {
    flex-grow: 1;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.4);
    padding: 1.5rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: none;
    outline: none;
    &:focus {
      border: 1px solid $accent;
      border-right: none;
    }
  }

  .btn-default {
    color: white;
    font-size: 1.3rem;
    padding: 1.5rem 2rem;
    background-color: $accent;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    &:hover {
      color: white;
      background-color: rgba($accent, 0.7);
    }
  }

  &__icons {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
  }

  &__icon {
    margin-right: 1.5rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.5s ease;

    &:hover {
      transition: all 0.5s ease;
      border: 1px solid grey;
      cursor: pointer;
    }
  }
}
